<div class="container divMarginTop ">
    <div class="row">
        <div class="col-12 col-md-8 container">
            <!-- Aqui estuvo Ariela :p  -->
            <h1>Prueba de Git</h1>
            <form action="">
                <label>nombre</label>
                <input type="text" placeholder="Ingreso Nombre">
                <label>Ingrese la imagen del libro</label>
                <input type="file">
                <label>Ingrese detalle de libro</label>
                <textarea placeholder="ingrese descripcion"></textarea>
            </form>
        </div>
        <div class="col-12 col-md-4 ajustarimgadiv">
            <img class="img-fluid" src="/assets/img/logo-claro.png" alt="imgIngresoLibros">
        </div>
    </div>
</div>